#masthead {

	background-color: $color__zyber-blue;
	background: linear-gradient(0deg, $color__zyber-blue-mid, $color__zyber-blue 40%);
	@include flex-row();
	height: 10vh;
	flex-wrap: nowrap;
	width: 100%;

	ul {
		list-style: none;
	}

	.main-navigation {
		align-items: flex-end;
		display: none;
		flex: 1 0 auto;
		justify-content: center;
		ul {
			flex-basis: 100%;
			padding: 0;
			margin: 0;
		}
	}
	.main-nav {
		display: flex;
		flex-wrap: nowrap;
		flex: 1 0 auto;
		font-family: 'Raleway', Arial, sans-serif;
		font-weight: 500;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		* {
		  box-sizing: border-box;
		  transition: all 0.35s ease;
		  -webkit-box-sizing: border-box;
		  -webkit-transition: all 0.35s ease;
		}
		a {
			color: $color__text-header;
			display: block;
			margin: 0;
			padding: 0.5em 0.8em;
			position: relative;
			text-decoration: none;
			width: 100%;
			&:after {
				border-bottom: 3px solid $color__zyber-triad-red;
				border-right: 3px solid $color__zyber-triad-red;
				bottom: 0;
				right: 0;
				transform: translate(-100%, -50%);	
				-webkit-transform: translate(-100%, -50%);
			}
			&:before,
			&:after {
				content: '';
				height: 14px;
				opacity: 0;
				position: absolute;
				transition: all 0.35s ease;
				width: 14px;
				-webkit-transition: all 0.35s ease;
			}
			&:before {
				border-left: 3px solid $color__zyber-triad-red;
				border-top: 3px solid $color__zyber-triad-red;
				left: 0;
				top: 0;
				transform: translate(100%, 50%);
				-webkit-transform: translate(100%, 50%);
			}
			&:hover {
				color: #ffffff;
			}
		}
		.main-header {
			margin: 0;
			li {
				flex: 1 0 auto;
				display: flex;
				justify-content: center;
				float: right;
				list-style: outside none none;
				margin: 0 1em;
				max-width: 50%;
				padding: 0;	
			}
		}
		.current a {
			color: #ffffff;
		}

	}
	.mobile-nav-toggle {
		.toggle-button {
			background-color: $color__zyber-triad-red;
			border: none;
			color: white;
			font-size: 24px;
			padding: 0;
			height: 40px;
			width: 40px;
		}
	}
	.main-nav a:hover:before,
	.main-nav .current a:before,
	.main-nav a:hover:after,
	.main-nav .current a:after {
	  -webkit-transform: translate(0%, 0%);
	  transform: translate(0%, 0%);
	  opacity: 1;
	}
	l.main-navigation {
		clear: both;
		display: block;
		float: left;
		width: 100%;

		ul {
			display: none;
			list-style: none;
			margin: 0;
			padding-left: 0;

			ul {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					width: 200px;
				}

				:hover > a,
				.focus > a {
				}

				a:hover,
				a.focus {
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}

		li {
			float: left;
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		}

		a {
			display: block;
			text-decoration: none;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
		}
	}

	// #menu-item-34 {
	// 	a {
	// 		border: 3px solid $color__zyber-triad-red;
	// 		margin: 0 1em 0 0;
	// 		&:after {
	// 			border-bottom: none;
	// 			border-right: none;
	// 		}
	// 		&:before {
	// 			border-top: none;
	// 			border-left: none;
	// 		}
	// 		&:hover {
	// 			border-color: $color__text-header;
	// 		}
	// 	}
	// }

	#menu-item-782 {
		a {
			border: 3px solid $color__zyber-triad-red;
			&:after {
				border-bottom: none;
				border-right: none;
			}
			&:before {
				border-top: none;
				border-left: none;
			}
			&:hover {
				border-color: $color__text-header;
			}
		}
	}



	@include respond-to(mobile) {
		padding: 0 5%;
		#menu-header {
			li {
				font-size: 3vw;
				margin: 0;
			}
		}
		.main-nav {
			flex-wrap: wrap;
			li {
				flex-basis: 50%;
			}
		}
		.site-branding {
			display: none;
		}


	}
	@include respond-to(small) {
		padding: 0 5%;
		.main-nav {
			font-size: 20px;
		}
	}
	@include respond-to(medium) {
		height: 15vh;

		.site-branding {
			flex: 0 1 auto !important;
			display: block;
		}
		.main-nav {
			justify-content: flex-end;
			li {
				margin: 0 15px;
			}
		}
		.main-navigation {
			display: flex;
		}
		.mobile-nav-toggle {
			display: none;
		}
	}

	.menu-item-has-children {
		position: relative;
		.sub-menu {
			background-color: $color__zyber-blue-mid;
			border: 1px solid $color__zyber-triad-red;
			display: none;
			position: absolute;
			right: 0;
			width: 100%;
			z-index: 100;
			li {
				margin: 0;
				padding: 0;
				text-align: center;
				width: 100%;
				a {
					font-size: 0.8em;
					&:before {
						border: none;
					}
					&:after {
						border: none;
					}
				}
			}
		}
		&.activeitem {
			.sub-menu {
				display: block !important;
			}
		}
	}
}

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#mobile-nav {
	background-color: $color__zyber-triad-red;
	.mobile-nav {
		padding: 0;
		list-style: none;
		margin-left: 48px;
		li {
			border-bottom: 1px solid white;
			padding: 5px 0 15px;
			a {
				color: white;
				font-size: 24px;
			}
		}
	}
	.mobile-toggle-nav {
		color: white;
		font-size: 24px;
		margin: 0 0 1.5em 48px;
		&:hover {
			cursor: pointer;
		}
	}
	.menu-item-has-children {
		.sub-menu {
			margin-left: 0;
			li {
				border: none;
			}
		}
	}
}
