#primary.contact {
    background-image: url('img/stock_photos/building.jpg');
    background-size: cover;
    width: 100%;
    @include respond-to(mobile-up) {
        .nf-form-content {
            font-family: Open Sans, sans-serif;
            margin: 0 auto;
            width: 90%;
        }
        .nf-form-cont {
            text-align: center;
        }
        .nf-form-title {
            color: $color__text-form;
            font-family: Raleway, sans-serif;
            font-size: 2rem;
        }
        .nf-form-fields-required {
            color: $color__text-form;
            margin-bottom: 2rem;
        }
        .submit-wrap {
            input {
                background-color: $color__zyber-highlight-red;
                border: none;
                border-radius: 0;
                color: #fff;
                display: block;
                font-family: Open Sans, sans-serif;
                font-size: 18px;
                line-height: 18px;
                margin: 0 auto;
                padding: 10px;
                position: relative;
                text-transform: uppercase;
                width: 75%;
            }
        }
    }
    @include respond-to(small) {
        .nf-form-content {
            width: 70%;
        }
    }
    @include respond-to(large) {
        .nf-form-content {
            width: 50%;
        }
    }
}