.site-footer {
    align-items: center;
    background-color: $color__background-footer;
    color: $color__text-footer;
    display: flex;
    font-family: Cabin, sans-serif;
    height: 20vh;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
    .social-media {
        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                font-size: 1.0rem;
                padding: 0 0.3rem;
                a {
                    color: $color__text-footer;
                    &:hover {
                        color: #fff;
                    }
                }
                i {
                    font-size: 2rem;
                    margin-left: 5px;
                    vertical-align: middle;
                }
            }
        }
    }

}

@include respond-to(mobile) {
    .site-footer {
        div {
            flex: 1 0 33%;
            padding: 0 4%;
            white-space: nowrap;    
        }
        .site-info {
            bottom: 0;
            font-size: 11px;
            padding-bottom: 5px;
            position: absolute;
        }
    }
}

@include respond-to(small) {
    .site-branding {
        flex: 1 0 33%;
    }
    .site-info {
        flex: 1 0 28%;
    }
    .social-media {
        flex: 1 0 38%;
    }
}
