#content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.container {
    background-color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    width: 100%;
}

@include respond-to(mobile) {
    #content {
        padding: 0;
    }
    .zyber-button {
       padding: 10px 10px;
    }
}

@include respond-to(medium) {
}

#primary {
    font-family: Raleway, Arial, sans-serif;
    width: 65%;

    .page-header {
        text-align: center;
        font-size: 3em;
    }
    .companytable {
        td, th {
            padding: 10px;
        }
    }

    .uploaded-files {
        a {
            color: #404040;
            text-align: center;
        }
        tr {
            border-bottom: 1px grey solid;
            &:last-child {
                border-bottom: none;
            }
        }
        .zyber-label-button {
            padding: 30px 2px;
            &:nth-child(2) {
                float: right;
                display: grid;
            }
        }
        .zyber-list {
            padding: 10px 2px;
        }
    }

    .zyber-button {
        padding: 10px 50px;
        box-shadow: none;
        line-height: 22px;
        background: #f7f7f7;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom-color: rgba(0, 0, 0, 0.2);
        background-origin: border-box;
        background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
        text-shadow: 0 1px 0 #ffffff;
        border-radius: 5px;
    }

}

