.hero {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: auto;
    .tagline {
        align-items: center;
        align-self: flex-end;
        color: #fff;
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        position: relative;
        p {
            font-family: Raleway, sans-serif;
            margin: 0;
            position: absolute;
        }
    }
}

.secondary-hero {
    align-items: center;
    background-color: $color__zyber-blue;
    color: $color__text-hero;
    display: flex;
    height: 30vh;
    justify-content: center;
    h2 {
        font-size: 3rem;
    }
}

@include respond-to(mobile) {
    .hero {
        flex-direction: row;
        height: 79vh;
    }
    .tagline {
        background-color: rgb(236,72,59);
        height: 100%;
        width: 100%;
        p {
            font-size: 6.5vw;
            padding: 0 3.5rem;
            text-align: center;
        }
    }
}

@include respond-to(small) {
    .hero {
        background-position: 20%;
        height: 86vh;
    }
    .tagline {
        background-color: rgba(236,72,59,0.9);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
        height: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
        width: 60%;
        p {
            font-size: 3.5vw;
            margin: 0;
            padding: 0 30px 0 25%;
        }
    }
}